nav > ul > li{
       display: inline;
       text-align: center;
       margin: 10px;
}
nav > a{
    text-decoration: none;
}


label{
    display: block;
    margin: 10px;
}

td,th{
    border: 1px solid black;
    padding: 5px 10px;
}
table{
    border-collapse: collapse;
}