nav > ul > li{
       display: inline;
       text-align: center;
       margin: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: darkgray;

}

label{
    display: block;
    margin: 10px;
}

td,th{
    border: 1px solid black;
    padding: 5px 10px;
}
table{
    border-collapse: collapse;
}

nav ul .drop{
    display: none;
    
}
nav li:hover .drop{
    display: inline;
    margin: 10px;
    padding: 10px;
}